---
--- 

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Eternity - Responsive Wedding Template</title>
  <meta name="description" content="Eternity is a responsive landing page built with the brand new, mobile first, Foundation 4 Framework." />
  <!--[if lt IE 9]>
      <link rel="stylesheet" href="css/ie8.css" />
      <script src="js/vendor/custom.modernizr.js"></script> 
  <![endif]-->
  
  {% include styles.html %}

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon-57-precomposed.png">
  <link rel="shortcut icon" href="img/favicon.ico">

  <script>
  (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
          (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
          m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '../../../../www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-37076230-1', 'themechills.com');
  ga('send', 'pageview');
  </script>

</head>

<body>

  {% include nav_mobile.html %}
  
  <div class="row collapse">
    {% include nav.html %}
    
    <div id="main" class="large-9 columns">
      {% include section0.html %}

      <div class="callout">
        <a href="#section-6" class="button radius js-scroll">
          <i class="fa fa-envelope"></i> <span class="btn-label">Click here to RSVP today</span>
        </a>
      </div>
      <!-- END .callout -->

      {% include section1.html %}
      {% include section2.html %}
      {% include section3.html %}
      {% include section4.html %}
      {% include section5.html %}
      {% include section6.html %}

      <!-- <footer class="section-odd">
        <p class="copyright small-12 large-6 columns">
          © 2013
          
        </p>
        <p class="credit small-12 large-6 columns">
          
        </p>
      </footer> -->
      <div style="height: 100px;"></div>
      <!--END footer-->
    </div>
    <!--END main-->
  </div>
  <!--END .row-->

  {% include scripts.html %}

</body>

</html>
