<script src="js/vendor/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
<script src="js/foundation.min.js"></script>
<script src="js/foundation/foundation.abide.js"></script>
<script src="js/vendor/jquery.backstretch.min.js"></script>
<script src="js/vendor/jquery.scrollTo-1.4.3-min.js"></script>
<script src="js/vendor/jquery.nav.min.js"></script>
<script src="js/vendor/jquery.flexslider.js"></script>
<script src="js/custom0be4.js?v1.5"></script>

<script>
$(document).foundation();
</script>